﻿@model Core.Entities.Score

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>

<h4>Score</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlayerOneName" class="control-label"></label>
                <input asp-for="PlayerOneName" class="form-control" />
                <span asp-validation-for="PlayerOneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerTwoName" class="control-label"></label>
                <input asp-for="PlayerTwoName" class="form-control" />
                <span asp-validation-for="PlayerTwoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheWinner" class="control-label"></label>
                <input asp-for="TheWinner" class="form-control" />
                <span asp-validation-for="TheWinner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfShots" class="control-label"></label>
                <input asp-for="NumberOfShots" class="form-control" />
                <span asp-validation-for="NumberOfShots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
